body {
    background-image: url("../images/cork-wallet.png");
    background-repeat: fill;
    margin: 0 auto;
    /* ----for flexbox------- */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 90px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.navbar {
    width: 960px;
    margin: 0 auto;
}

.titlebox {
    box-sizing: content-box;
    background-color: #4aaaa5;
    width: 30%;
    margin: 0;
    float: left;
    height: 90px;
}

.Title {
    text-align: center;
    color: white;
    font-family: "Georgia", "Times", 'Times New Roman', 'serif';
}

.menu {
    float: right;
    box-sizing: content-box;
    height: 90px;
}

.nav {
    margin-left: 10px;
    padding-top: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#666666;
    float: right;
}

main {
    clear: both;
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 90px;
    background-color: white;
    height: 400px;
    /*---for flexbox---*/
    flex: 1;
}

.heading {
    color: #4aaaa5;
    font-family: "Georgia", "Times", 'Times New Roman', 'serif';
    height: 50px;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dddddd;
    width: 95%;
}

#pic img {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#pic p {
    margin: 0 auto;
    padding-top: 12px;
    padding-right: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}

#bottomtext {
    clear: both;
    padding-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}

footer {
    height: 60px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #dddddd;
    font-size: 8px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}